.note_section {
    /* justify-self: flex-start; */
    /* align-self: flex-start; */
    width: 100%;
    max-width: 1000px;
    margin-top: 32px;
    
}

.editor {
    transition: 1s all ease;
    padding: 16px
}

.note_header {
    margin-bottom: 14px;
}

.divider {
    margin-bottom: 16px;
    opacity: 0.3;
}

.textbox {
    width: 100%;
    background: #fff;
    padding: 16px;
    color: var(--color-primary)
}

.button_container {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}
.catch_phrase {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.button {
    padding: 8px 16px;
    border-radius: 999px;
    cursor: pointer;
    background: var(--color-secondary);
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
}

.date {
    font-size: 10px;
    margin-bottom: 8px;
}

.saved_notes {
    border-left: 3px dotted var(--color-secondary);
    padding-left: 16px;
}

.note_action_container {
    display: flex;
    gap: 8px;
    margin-top: 8px;
    margin-bottom: 32px;
}

.note_action {
    transition: .3s all ease;

}

.note_action:hover {
    transform: scale(1.2);
}
.button_cancel {
    background: var(--color-error)
}

.margin_bottom_small {
    margin-bottom: 8px;
}


@media screen and (min-width: 768px) {
    .catch_phrase {
        padding: 16px;
    }
}
